.App {
	text-align: center;
	background-color: #0a0d10;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: rgb(196, 196, 196);
}

.App p {
	margin: 0.4em;
}

.App b {
	color: rgb(255, 255, 255);
}
